@font-face {
  font-family: 'gomarice_mukasi_mukasi';
  src: url('/resource/font/gomarice_mukasi_mukasi.ttf');
}

* {
  font-family: 'gomarice_mukasi_mukasi';
}

html, body, #base_view {
  width: 100%;
  height: 100%;
  overflow: hidden;
  margin: 0;
  padding: 0;
}

button, img {
  padding: 0;
  border: none;
  background: transparent;
}

/* -------------------- select page -------------------- */
.select_container {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  grid-template-rows: 25% 60% 15%;
  grid-template-areas:
    "container_item_header"
    "select_container_item_content"
    "container_item_footer";
}

#onsen_select_map {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 0;
}

.select_container_item_content {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  grid-template-rows: 25% 25% 25% 25%;
  grid-template-columns: 1fr 3fr 3fr 3fr 1fr;
  grid-template-areas:
    ". . . stage_3 ."
    ". stage_2 . . ."
    ". . . stage_1 ."
    ". stage_0 . . .";
  z-index: 1;
}

/* 各ステージ */
.select_container_item_content > div {
  width: 100%;
  height: 100%;
}
.stage_3 {
  grid-area: stage_3;
}
.stage_2 {
  grid-area: stage_2;
}
.stage_1 {
  grid-area: stage_1;
}
.stage_0 {
  grid-area: stage_0;
}

.is_clear_onsen_mark {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
}

/* ステージ詳細ポップアップ */
#stage_detail_div {
  display: inline-grid;
  position: absolute;
  width: 90%;
  height: 90%;
  grid-template-rows: 25% 25% 20% 30%;
  grid-template-areas:
    "stage_name"
    "stage_detail"
    "stage_navigation"
    "stage_external_icon";
  z-index: 10;
  visibility: hidden;
  opacity: 0;
  margin: 5%;
  justify-content: space-evenly;
  text-align: center;
}
#stage_detail_div * {
  text-shadow: 5px 5px 10px rgb(135, 65, 15);
}

.stage_detail_show_popup {
  font-size: 16px;
  animation: show_popup 0.5s ease 1 forwards;
}
@keyframes show_popup {
  0% {
    transform: translateY(40px) scale(0.8);
    opacity: 0;
    visibility: hidden;
  }
  100% {
    transform: translateY(0) scale(1.0);
    visibility: visible;
  }
  80%, 100% {
    opacity: 1.0;
  }
}

.stage_detail_hide_popup {
  animation: hide_popup 0.25s ease 1 backwards;
}
@keyframes hide_popup {
  0% {
    transform: translateY(0) scale(1.0);
    opacity: 0;
    visibility: hidden;
  }
  100% {
    transform: translateY(40px) scale(0.8);
    visibility: visible;
  }
  20%, 0% {
    opacity: 0.2;
  }
}

/* ポップアップ内容 */
#stage_detail_background {
  position: absolute;
  width: 110%;
  height: 150%;
  top: -20%;
  left: -5%;
}

#stage_name_div {
  position: absolute;
  display: flex;
  width: 81%;
  height: 100%;
  left: 9%;
  overflow: hidden;
  justify-content: center;
}
#stage_name {
  position: absolute;
  display: flex;
  margin: 0 auto;
  justify-content: center;
  grid-area: stage_name;
  z-index: 11;
  top: 0.5em;

  overflow: hidden;
  white-space: nowrap;
  font-size: 15vw;
}
.stage_name_flowing {
  animation: stage_name_flowing 8s linear infinite;
  transform: translateX(100%);
}
@keyframes stage_name_flowing {
  100% {
    transform: translateX(-100%);
  }
}

#stage_detail {
  margin: 0 auto;
  padding: 5% 1em;
  grid-area: stage_detail;
  z-index: 11;
  font-size: 15vw;
}

#stage_navigation {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  justify-content: space-around;
  grid-area: stage_navigation;
}
#stage_navigation > button {
  display: flex;
  justify-content: center;
  width: auto;
  height: 90%;

  font-size: 15vw;
}

#stage_external_icon {
  position: absolute;
  display: flex;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  justify-content: space-evenly;
  grid-area: stage_external_icon;

  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
    "tweet_icon"
    "hint_icon"
    "youtube_icon";
}
.tweet_icon {
  grid-area: tweet_icon;
}
.hint_icon {
  grid-area: hint_icon;
}
.youtube_icon {
  grid-area: youtube_icon;
}

#stage_external_icon button, #stage_external_icon a, #stage_external_icon img, #hint_onsen_mark_sen {
  display: flex;
  width: 90%;
  height: 90%;
  justify-content: center;
}
#hint_onsen_mark_sen img {
  display: flex;
  width: auto;
  height: 90%;
  justify-content: center;
  box-sizing: border-box;
}
/*
#hint_onsen_mark_sen {
  display: flex;
  width: auto;
  height: 100%;
  justify-content: center;
}
*
.hint_sen {
  width: auto;
  height: 95%;
  box-sizing: border-box;
}
*/

#stage_info {
  position: absolute;
  display: flex;
  z-index: 11;
  top: 105%;
  left: 67%;
  width: 28%;
  font-size: 6vw;
  justify-content: center;
}


/* -------------------- top page -------------------- */
.top_container {
  display: grid;
  position: relative;
  width: 100%;
  height: 100%;
  grid-template-rows: 12.5% 20% 55% 12.5%;
  grid-template-areas:
    "container_item_header"
    "container_item_title"
    "container_item_content"
    "container_item_footer";
}

/* -------------------- top-タイトル -------------------- */
.container_item_title {
  width: 100%;
  height: 100%;
  text-align: center;
}

/* タイトルテキスト */
#title_text {
  margin: 0 auto;
  padding: 10px;
}
[data-back-ruby] {
  position: relative;
}
[data-back-ruby]::before {
  content: attr(data-back-ruby);
  position: absolute;
  top: -1em;
  left: 0;
  right: 0;
  margin: auto;
  font-size: 0.25em;
}
[data-front-ruby] {
  position: relative;
}
[data-front-ruby]::before {
  content: attr(data-front-ruby);
  position: absolute;
  bottom: -1em;
  left: 0;
  right: 0;
  margin: auto;
  font-size: 0.25em;
}
#onsen_mark, #temp_onsen_mark {
  width: 15%;
  height: 15%;
}
#temp_onsen_mark {
  position: absolute;
  width: 15%;
  height: auto;
}
.normal_font {
  font-size: 17.5vw;
}
.on_font {
  font-size: 23vw;
}
.blink_new_ruby {
  animation: blink_new_ruby 0.2s 5;
}
@keyframes blink_new_ruby {
  from {
    color: black;
  }
  to {
    color: red;
  }
}

/* -------------------- top-メインコンテンツ -------------------- */
.container_item_content {
  position: relative;
  font-size: 0;
}
#open_air_bath {
  width: 125%;
  height: 125%;
  text-align: center;
  transform : translateX(-10%);
}

/* 看板 */
#wood_kanban_div {
  display: inline-block;
  position: absolute;
  width: 40%;
  height: 40%;
  top: 11%;
  margin: 0;
  padding: 0;
}
#wood_kanban {
  width: 75%;
  height: 100%;
}
#wood_kanban_text_div {
  position: absolute;
  width: 65%;
  height: 65%;
  top: 10%;
  left: 5%;
}
#wood_kanban_info {
  display: flex;
  width: 100%;
  height: 50%;
  font-size: 7vw;
  justify-content: center;
  align-items: center;
}
#wood_kanban_text {
  display: flex;
  width: 100%;
  height: 50%;
  font-size: 10vw;
  justify-content: center;
  align-items: center;
}

/* 温度計 */
#ondokei_div {
  display: inline-block;
  position: absolute;
  width: 59%;
  height: 59%;
  top: 55%;
  left: 40%;
}
#ondokei {
  width: 125%;
  height: 125%;
}
#ondokei_text_div {
  position: absolute;
  width: 18%;
  height: 7%;
  top: 55%;
  left: 72%;
  transform: rotate(-10deg);
}
#ondokei_text {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 2px;
  font-size: 4vw;
  text-align: right;
}

/* 温泉マーク */
#onsen_mark_frame_div {
  display: inline-block;
  position: absolute;
  width: 75%;
  top: 50%;
  left: 50%;
  transform : translateX(-50%) translateY(-50%);
}
#onsen_mark_frame {
  width: 100%;
  height: 100%;
  transform : translateY(10%);
}
#onsen_mark_sen {
  position: absolute;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: space-evenly;
  padding: 0 10%;
  top: 0;
}
#onsen_mark_sen > img {
  width: 25%;
  height: 25%;
}

#tutorial_cursor {
  position: absolute;
  top: -20%;
  left: 65%;
  width: 20%;
  height: auto;
  visibility: hidden;
}
.tutorial_move_cursor {
  transform: translateX(75%);
  animation: tutorial_move_cursor_to_sens 12s ease infinite;
}
@keyframes tutorial_move_cursor_to_sens {
  49% {
    visibility: hidden;
  }
  50% {
    visibility: visible;
    transform: translateX(75%) translateY(0);
  }
  60% {
    transform: translateY(200%);
    visibility: hidden;
  }
  69% {
    visibility: hidden;
  }
  70% {
    visibility: visible;
    transform: translateX(75%) translateY(0);
  }
  80% {
    transform: translateX(-100%) translateY(200%);
    visibility: hidden;
  }
  89% {
    visibility: hidden;
  }
  90% {
    visibility: visible;
    transform: translateX(75%) translateY(0);
  }
  100% {
    transform: translateX(-200%) translateY(200%);
  }
}
